.chart-page {
  background-color: #111111 !important;
}

.group-2JyOhh7Z {
  background-color: #111111 !important;
}

.toolbar-2n2cwgp5 {
  background-color: #111111 !important;
}

.button-2ioYhFEY {
  background-color: #111111 !important;
}

.inner-2FptJsfC {
  background-color: #111111 !important;
}

.layout__area--top {
  background-color: #111111 !important;
  border-bottom: 1px solid #1c1c1c !important;
}

.chart-toolbar {
  background-color: #111111 !important;
}

.tv-header__toolbar {
  background-color: #111111 !important;
}

.header-chart-panel {
  background-color: #111111 !important;
}

.group-wWM3zP_M {
  background-color: #111111 !important;
}

.button-1SoiPS-f {
  background-color: #111111 !important;
} 